<div class="bg-white shadow-md rounded-lg p-6 mt-5 w-full max-w-xl mx-auto">
  <div class="container">
    <div class="max-w-3xl mx-auto p-6 bg-white shadow-md rounded-md">
      <h2 class=" flex justify-between items-center text-orange-600 font-bold text-orange-700 mb-4">Create a Question <span><i class="ri-chat-upload-line text-2xl"></i></span></h2>
      <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
        
        <!-- Question Text -->
        <div class="mb-4">
          <label for="questionText" class="block text-gray-700">Question</label>
          <input id="questionText" formControlName="questionText" type="text" 
            class="form-control mt-2 p-2 w-full border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500"
            placeholder="Enter question" />
          <div *ngIf="questionForm.get('questionText')?.invalid && questionForm.get('questionText')?.touched" 
            class="text-red-500 text-sm mt-2">
            Question is required and must be at least 5 characters long.
          </div>
        </div>

        <!-- Options -->
        <div formArrayName="options">
          <div *ngFor="let option of options; let i = index" class="mb-4">
            <label class="block text-gray-700">Option {{ i + 1 }}</label>
            <input [formControlName]="i" type="text"
              class="form-control mt-2 p-2 w-full border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500"
              placeholder="Enter option" />
            <button type="button" class="bg-red-500 text-white py-1 px-4 mt-2 rounded-md hover:bg-red-600"
              (click)="removeOption(i)" *ngIf="options.length > 2">Remove</button>
          </div>
        </div>

        <button type="button" class="bg-orange-500 text-white py-2 px-4 rounded-md hover:bg-orange-600" 
          (click)="addOption()">Add Option</button>

        <!-- Correct Answer -->
        <div class="mb-4 mt-6">
          <label for="correctAnswer" class="block text-gray-700">Correct Answer</label>
          <input id="correctAnswer" formControlName="correctAnswer" type="text"
            class="form-control mt-2 p-2 w-full border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500"
            placeholder="Enter correct answer" />
          <div *ngIf="questionForm.get('correctAnswer')?.invalid && questionForm.get('correctAnswer')?.touched" 
            class="text-red-500 text-sm mt-2">
            Correct answer is required.
          </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-600" 
          [disabled]="questionForm.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>
